.borderPane {
	-fx-font-size: 16;
	-fx-background-color: #deb887;
	-fx-border-color: #050505;
	-fx-border-style: solid;
	-fx-border-width: 2;
	-fx-border-radius: 10;
	-fx-background-insets: 10;
}

.bottomLayout {
	-fx-padding: 50;
	-fx-spacing: 10;
}

.buttonSize {
	-fx-pref-width: 400px;
	-fx-pref-height: 400px;
}

.mainButton {
	-fx-pref-width: 200px;
	-fx-pref-height: 200px;
}

.button {
	-fx-text-fill: #F03900;
	-fx-background-color: #999;
	-fx-padding: 50;
	-fx-spacing: 10;
}

.pane {
	-fx-background-color: #EEE;
}

.rock {
	-fx-background-image: url('Pic/rock.png');
}

.paper {
	-fx-background-image: url('Pic/paper.png');
}

.scissors {
	-fx-background-image: url('Pic/scissors.png');
}

.lizard {
	-fx-background-image: url('Pic/lizard.png');
}

.spock {
	-fx-background-image: url('Pic/spock.png');
}